@import url("../../pages/variables.css");

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.film-info-modal-background {
    background-color: var(--secondary-color);
    width: 40vw;
    height: 95vh;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.close-film-button {
    position: absolute;
    top: 2%;
    left: 100%;
    background-color: var(--secondary-color);
    border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    border-color: transparent;
    color: var(--fourth-color);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-film-button:hover {
    cursor: pointer;
}

.close-film-icon {
    width: 25px;
    height: 25px;
}

.poster-and-info-background {
    background-color: transparent;
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.complete-film-poster-background {
    background-color: transparent;
    width: 32%;
    height: 100%;
}

.complete-film-poster {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

.complete-film-info-background {
    background-color: transparent;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.complete-film-title {
    background-color: transparent;
    width: 100%;
    height: 15%;
    font-size: var(--vizualize-film-text-size);
    font-weight: bold;
    color: var(--title-color);
}

.complete-film-synopsis {
    background-color: transparent;
    width: 100%;
    height: 60%;
    font-size: var(--paragraph-text-size);
    color: var(--paragraph-color);
}

.complete-film-year-and-popularity-background {
    background-color: transparent;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.complete-film-infos-text {
    background-color: transparent;
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: var(--year-text-size);
    color: var(--paragraph-color);
}

#vote {
    justify-content: flex-end;
}

.cast-background {
    background-color: transparent;
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titles-info {
    background-color: transparent;
    font-weight: bold;
    color: var(--title-color);
}

.cast-list {
    background-color: transparent;
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-between;
    gap: var(--gap);
    list-style: none;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--fourth-color) var(--secondary-color);
}

.staff-background {
    background-color: transparent;
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.staff-list {
    background-color: transparent;
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-between;
    gap: var(--gap);
    list-style: none;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--fourth-color) var(--secondary-color);
}